# Average EHR Spending by City

In [96]:
## Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
import seaborn as sns

In [97]:
## Load the datasets
df_ehr_provider = pd.read_csv('EHR_Incentive_Program_Payments_Providers.csv')
df_ehr_hospital = pd.read_csv('EHR_Incentive_Program_Payments_Hospitals.csv')

In [98]:
## delete the unneeded columns on the provider dataset
df_ehr_provider.drop(df_ehr_provider.columns[0:8],axis=1,inplace = True)
df_ehr_provider.drop(df_ehr_provider.columns[1:4],axis=1,inplace = True)
df_ehr_provider.drop(df_ehr_provider.columns[3:6],axis=1,inplace = True)
df_ehr_provider.drop(['Program_Ye','Payee_NPI','Latitude','Longitude','total_rece'],axis=1,inplace = True)
df_ehr_provider.head()

   Business_C  Payment_Ye  total_paym
0  Sacramento        2019     38250.0
1     Oakland        2014     21250.0
2     Antioch        2016     21250.0
3  Loma Linda        2015     29750.0
4      Orange        2014     21250.0

In [99]:
## group the practitioner data by city and year, then sum the total payments
df_ehr_provider.groupby(['Business_C'])[['Payment_Ye']].sum().reset_index()
df_ehr_provider.to_csv('test_group_by_check.csv')
df_ehr_provider.head()

   Business_C  Payment_Ye  total_paym
0  Sacramento        2019     38250.0
1     Oakland        2014     21250.0
2     Antioch        2016     21250.0
3  Loma Linda        2015     29750.0
4      Orange        2014     21250.0

In [100]:
df_provider_city = df_ehr_provider.merge(df_city_revenue, how="inner",left_on=['Business_C','Payment_Ye'],right_on=['Entity Name','Fiscal Year'])
df_provider_city.head()

,Business_C,Payment_Ye,total_paym,Entity Name,Fiscal Year,Total Revenues,Estimated Population,Revenues Per Capita
0,Sacramento,2019,38250.0,Sacramento,2019,1291842000,508172.0,2542.0
1,Sacramento,2019,38250.0,Sacramento,2019,1291842000,508172.0,2542.0
2,Sacramento,2019,63750.0,Sacramento,2019,1291842000,508172.0,2542.0
3,Sacramento,2019,38250.0,Sacramento,2019,1291842000,508172.0,2542.0
4,Sacramento,2019,38250.0,Sacramento,2019,1291842000,508172.0,2542.0

In [101]:
df_provider_city = df_provider_city.drop(['Entity Name','Fiscal Year'], axis=1)
df_provider_city.head()

,Business_C,Payment_Ye,total_paym,Total Revenues,Estimated Population,Revenues Per Capita
0,Sacramento,2019,38250.0,1291842000,508172.0,2542.0
1,Sacramento,2019,38250.0,1291842000,508172.0,2542.0
2,Sacramento,2019,63750.0,1291842000,508172.0,2542.0
3,Sacramento,2019,38250.0,1291842000,508172.0,2542.0
4,Sacramento,2019,38250.0,1291842000,508172.0,2542.0

In [103]:
df_provider_city.groupby(['Business_C','Payment_Ye']).sum()
df_provider_city.to_csv('ultimate_test.csv')