# Average EHR Spending by City

In [2]:
## Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
import seaborn as sns

In [48]:
## Load the datasets
df_ehr_provider = pd.read_csv('EHR_Incentive_Program_Payments_Providers.csv')
df_ehr_hospital = pd.read_csv('EHR_Incentive_Program_Payments_Hospitals.csv')

In [49]:
## group the practitioner data by
df_ehr_provider.groupby(['Business_C','Program_Ye']).sum().reset_index()
df_ehr_provider.head()

In [44]:
## delete the unneeded columns on the provider dataset
df_ehr_provider.drop(df_ehr_provider.columns[0:8],axis=1,inplace = True)
df_ehr_provider.drop(df_ehr_provider.columns[1:4],axis=1,inplace = True)
df_ehr_provider.drop(df_ehr_provider.columns[3:6],axis=1,inplace = True)
df_ehr_provider.drop(['Payee_NPI','Latitude','Longitude'],axis=1,inplace = True)
df_ehr_provider.head()

   Business_C  Program_Ye  Payment_Ye  total_paym  total_rece
0  Sacramento        2018        2019     38250.0      8500.0
1     Oakland        2013        2014     21250.0     21250.0
2     Antioch        2015        2016     21250.0     21250.0
3  Loma Linda        2014        2015     29750.0      8500.0
4      Orange        2013        2014     21250.0     21250.0

In [46]:
df_provider_city = df_ehr_provider.merge(df_city_revenue, how="inner",left_on=['Business_C','Program_Ye'],right_on=['Entity Name','Fiscal Year'])
df_provider_city.head()

,Business_C,Program_Ye,Payment_Ye,total_paym,total_rece,Entity Name,Fiscal Year,Total Revenues,Estimated Population,Revenues Per Capita
0,Sacramento,2018,2019,38250.0,8500.0,Sacramento,2018,1138874000,501344.0,2272.0
1,Sacramento,2018,2019,38250.0,8500.0,Sacramento,2018,1138874000,501344.0,2272.0
2,Sacramento,2018,2019,63750.0,8500.0,Sacramento,2018,1138874000,501344.0,2272.0
3,Sacramento,2018,2019,38250.0,8500.0,Sacramento,2018,1138874000,501344.0,2272.0
4,Sacramento,2018,2019,38250.0,8500.0,Sacramento,2018,1138874000,501344.0,2272.0

In [51]:
df_provider_city = df_provider_city.drop(['Entity Name','Fiscal Year'], axis=1)
df_provider_city.head()

,Business_C,Program_Ye,Payment_Ye,total_paym,total_rece,Total Revenues,Estimated Population,Revenues Per Capita
0,Sacramento,2018,2019,38250.0,8500.0,1138874000,501344.0,2272.0
1,Sacramento,2018,2019,38250.0,8500.0,1138874000,501344.0,2272.0
2,Sacramento,2018,2019,63750.0,8500.0,1138874000,501344.0,2272.0
3,Sacramento,2018,2019,38250.0,8500.0,1138874000,501344.0,2272.0
4,Sacramento,2018,2019,38250.0,8500.0,1138874000,501344.0,2272.0

In [52]:
df_provider_city.to_csv('city_sum.csv')